<form [formGroup]="emailForm" ngNativeValidate (ngSubmit)="onSubmit()" class="email-form">
  <mat-form-field class="email-form-field">
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="email" />
    <mat-error>Please enter a valid email</mat-error>
  </mat-form-field>
  <mat-form-field class="email-form-field">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-error>Must be 6 or more characters</mat-error>
  </mat-form-field>
  <p class="email-login-error">{{signInErrorMessage()}}</p>
  <button mat-raised-button (click)="onSignIn()" [disabled]="!emailForm.valid || submitted()" class="event-form-submit" >Sign In</button>
  <button mat-raised-button (click)="onSignUp()" [disabled]="!emailForm.valid || submitted()" class="event-form-submit" >Sign Up</button>
</form>