.toolbar {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    border-bottom: 2px solid #81818180;
    background-color: #640D5F;
    z-index: 2;
}

.title {
    width: fit-content;
    height: fit-content;
    padding: .5rem;
    margin: 0;
    font-size: x-large;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border-radius: .5rem;
    background-color: #FFB200;
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: fit-content;
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: .5rem;
    border: none;
}