<article class="event-card">
    <img [src]="bannerSrc" alt="Event banner image" class="event-card-image" />
    <section class="event-card-info">
        <h3 class="event-card-info-title">{{ event().name.text }}</h3>
        <p class="event-card-info-date">{{ event().start.local | date }}</p>
        <p class="event-card-info-organizer">{{ event().organizer.name }}</p>
        <div class="event-card-info-location">
            @if (event().venue; as venue) {
                @for (addressLine of venue.address.localized_multi_line_address_display; track $index) {
                    <p class="event-card-info-location-line">{{ addressLine }}</p>
                }
            } @else {
                <p class="event-card-info-location-line">Online</p>
            }
        </div>
    </section>
    <div class="event-card-buttons">
        <a [routerLink]="['/events', event().id]" mat-raised-button class="event-card-buttons-more">More Info</a>
        <button mat-raised-button class="event-card-buttons-attend">Sign Up</button>
    </div>
</article>
