.featured-events {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-events-heading {
    margin: 1rem 0 .5rem;
    max-width: calc(100% - 1.5rem);
    width: fit-content;
    text-align: center;
    padding: .1rem .5rem .25rem;
    border-radius: .5rem;
    color: white;
    background-color: #D91656;
}

.featured-events-list {
    margin: 0;
    padding: 0;
    width: 100%;
}

.featured-event-listed {
    list-style: none;
    margin: 1rem 0;
}

.progress-spinner {
    margin: 1rem;
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #FFB200;
}