<section class="featured-events">
    <h2 class="featured-events-heading">Events Happening Soon!</h2>
    <ul class="featured-events-list">
        <li class="featured-event-listed"><app-event-card /></li>
        <li class="featured-event-listed"><app-event-card /></li>
        <li class="featured-event-listed"><app-event-card /></li>
        <li class="featured-event-listed"><app-event-card /></li>
        <li class="featured-event-listed"><app-event-card /></li>
        <li class="featured-event-listed"><app-event-card /></li>
        <li class="featured-event-listed"><app-event-card /></li>
        <li class="featured-event-listed"><app-event-card /></li>
        <li class="featured-event-listed"><app-event-card /></li>
    </ul>
</section>