<div class="login">
  <h3 mat-dialog-title>Sign in</h3>
  <div mat-dialog-content>
    @if(isSignInSuccessful()) {
      @if (isUserCreated()) {
        <p class="login-success">Account created</p>
      }
      <p class="login-success">You're signed in!</p>
    } @else {
      @if(!isEmailSignIn()){
        <button mat-raised-button (click)="isEmailSignIn.set(true)" [disabled]="isSignInSubmitted()" class="login-option">
          <mat-icon>mail_outline</mat-icon>
          Sign in with email
        </button>
        @if (!isNativePlatform) {
          <button mat-raised-button (click)="onGoogleSignIn()" [disabled]="isSignInSubmitted()" class="login-option">
            Sign in with Google
          </button>
        }
        <p class="login-error">{{ signInError() }}</p>
      } @else {
          <app-email-form (emailAccountSubmitted)="emailAccountSubmitted($event)" [signInError]="signInError()"></app-email-form>
          <button mat-raised-button (click)="onBack()" class="login-back">Back</button><br>
        }
    }
    <button mat-raised-button mat-dialog-close class="login-close">Close</button>
  </div>
</div>
