.login {
  padding: 0;
}

.login-option {
  width: 100%;
  margin-bottom: .5rem;
}

.login-error {
  width: fit-content;
  margin: 0 0 .5rem;
  color: red;
}

.login-back {
  margin: 0 0 .5rem;
}

.login-success {
  margin: 0 0 .5rem;
}

.login-close {
  margin: .5rem 0 0;
}